@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(201, 248, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(27, 105, 27);
}

h1#principal {
    text-align: center;
    background-color: rgb(27, 105, 27);
    color: white;
}

h2 {
    color: rgb(55, 139, 55);
}

.basico {
    color: rgb(55, 139, 55);
}

.intermediario {
    color: rgb(230, 233, 42);
}

.avancado {
    color: rgb(230, 34, 34);
}

.destaque {
    background-color: rgba(170, 170, 80, 0.534);
}